<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>The Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form method="POST" style="border: 1px solid #ccc; padding: 10px; width: 280px;">
    <table>
        <tr>
            <td>Customer</td>
            <td>:</td>
            <td>
                <select name="customer">
                    <option th:each="customer : ${customers}" th:value="${customer.id}" th:text="${customer.fullname}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>is this groceries?</td>
            <td>:</td>
            <td>
                <input type="checkbox" name="grocery" />
            </td>
        </tr>
        <tr>
            <td>Total bill</td>
            <td>:</td>
            <td><input type="text" name="bill" id="inputTotal" /></td>
        </tr>
        <tr>
            <td colspan="3" align="right">
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>