<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>The Result</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <table>
        <tr>
            <td>Customer Name</td>
            <td>:</td>
            <td th:text="${name}"></td>
        </tr>
        <tr>
            <td>Total order</td>
            <td>:</td>
            <td th:text="'$ '+${bill}"></td>
        </tr>
        <tr>
            <td>Discount</td>
            <td>:</td>
            <td th:text="'$ '+${difference}"></td>
        </tr>
        <tr>
            <td>Total after discount</td>
            <td>:</td>
            <td th:text="'$ '+${total}"></td>
        </tr>
    </table>
</body>
</html>